$main-color: #ebb576;
$titles-color: #555555;
$btn-color: #555555;
$text-color: #696969;
$dash-color: #ddd;
$gap: 24px;
$line-height: 1.8;
$card-color: #555555;
$section-color: #f7f7f7;
$form-border-color: #e1e1e1;
$footer-color: #1a1a1a;
$icon-color: #dddddd;
$copyright-color: #aaaaaa;
